In [1]:
import os
import pandas as pd 
import numpy as np 

dataOfBlack_2020_Q1 = []
data = []
dirs = os.listdir('E:/data/data_Q1_2018')
for i in dirs:
    data.append(pd.read_csv('E:/data/data_Q1_2018/' + i))

In [2]:
listOfnegativeSample = []

In [ ]:
for i in range(5, len(dataOfBlack_2020_Q1)):
    dataOferrordisk = dataOfBlack_2020_Q1[i][dataOfBlack_2020_Q1[i].failure == 1]
    k = 5
    while(k >= 0):
        serial_number = list(dataOfBlack_2020_Q1[i - k].serial_number)
        serial_number = list(set(serial_number))
        for j in dataOferrordisk.serial_number.values:
            serial_number.remove(j)
        listOfnegativeSample.append(dataOfBlack_2020_Q1[i - k][dataOfBlack_2020_Q1[i - k].serial_number.isin(serial_number)])
        k = k - 1

In [12]:
data = []
data.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-01.csv'))
data.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-02.csv'))
data.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-03.csv'))
data.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-04.csv'))
data.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-05.csv'))
data.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-06.csv'))

In [15]:
error = data[5][data[5].failure == 1]

In [18]:
error

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
7532,2018-01-06,W3004X68,ST4000DM000,4000787030016,1,109,23657640,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10206,2018-01-06,ZA11X9N2,ST8000DM002,8001563222016,1,53,20740760,NaN,NaN,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10357,2018-01-06,Z300ZV9B,ST4000DM000,4000787030016,1,118,201270208,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78363,2018-01-06,Z3025WBW,ST4000DM000,4000787030016,1,108,165729075,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
serial_number = list(set(list(data[0].serial_number)))

In [23]:
for j in error.serial_number.values:
    serial_number.remove(j)

In [27]:
sample = []

In [28]:
for i in range(5, len(data)):
    error = data[i][data[i].failure == 1]
    k = 5
    while(k >= 0):
        serial_number = list(data[i - k].serial_number)
        serial_number = list(set(serial_number))
        for j in error.serial_number.values:
            serial_number.remove(j)
        sample.append(data[i - k][data[i - k].serial_number.isin(serial_number)])
        k = k - 1