In [1]:
import pandas as pd 
import numpy as np 

data = pd.read_csv('E:/data/data_Q1_2018/2018-01-01.csv')

In [29]:
data[data.failure == 1]

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
13720,2018-01-01,Z300GZ1B,ST4000DM000,4000787030016,1,108,17846936,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65393,2018-01-01,Z300GZCV,ST4000DM000,4000787030016,1,110,25274512,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74156,2018-01-01,VKGKRG7X,HGST HUH728080ALE600,8001563222016,1,100,0,134.0,105.0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
data2 = pd.read_csv('E:/data/data_Q1_2018/2018-01-02.csv')

In [31]:
data2[data2.failure == 1]

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
4455,2018-01-02,S300V3AD,ST4000DM000,4000787030016,1,111,76075666,NaN,NaN,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13426,2018-01-02,ZA11THZ7,ST8000DM002,8001563222016,1,71,53634704,NaN,NaN,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16124,2018-01-02,ZA15W1KW,ST8000NM0055,8001563222016,1,83,197573968,NaN,NaN,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22891,2018-01-02,Z304JPGD,ST4000DM000,4000787030016,1,109,24170088,NaN,NaN,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23533,2018-01-02,Z3029GJ1,ST4000DM000,4000787030016,1,117,167753424,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52293,2018-01-02,ZA123JN4,ST8000DM002,8001563222016,1,74,24972872,NaN,NaN,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71333,2018-01-02,Z305D59A,ST4000DM000,4000787030016,1,116,109425528,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76043,2018-01-02,ZCH07Z42,ST12000NM0007,12000138625024,1,61,115658912,NaN,NaN,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
data2[data2.serial_number == 'Z300GZCV']

Empty DataFrame
Columns: [date, serial_number, model, capacity_bytes, failure, smart_1_normalized, smart_1_raw, smart_2_normalized, smart_2_raw, smart_3_normalized, smart_3_raw, smart_4_normalized, smart_4_raw, smart_5_normalized, smart_5_raw, smart_7_normalized, smart_7_raw, smart_8_normalized, smart_8_raw, smart_9_normalized, smart_9_raw, smart_10_normalized, smart_10_raw, smart_11_normalized, smart_11_raw, smart_12_normalized, smart_12_raw, smart_13_normalized, smart_13_raw, smart_15_normalized, smart_15_raw, smart_22_normalized, smart_22_raw, smart_177_normalized, smart_177_raw, smart_179_normalized, smart_179_raw, smart_181_normalized, smart_181_raw, smart_182_normalized, smart_182_raw, smart_183_normalized, smart_183_raw, smart_184_normalized, smart_184_raw, smart_187_normalized, smart_187_raw, smart_188_normalized, smart_188_raw, smart_189_normalized, smart_189_raw, smart_190_normalized, smart_190_raw, smart_191_normalized, smart_191_raw, smart_192_normalized, smart_192_raw, smart_193_normalized, smart_193_raw, smart_194_normalized, smart_194_raw, smart_195_normalized, smart_195_raw, smart_196_normalized, smart_196_raw, smart_197_normalized, smart_197_raw, smart_198_normalized, smart_198_raw, smart_199_normalized, smart_199_raw, smart_200_normalized, smart_200_raw, smart_201_normalized, smart_201_raw, smart_220_normalized, smart_220_raw, smart_222_normalized, smart_222_raw, smart_223_normalized, smart_223_raw, smart_224_normalized, smart_224_raw, smart_225_normalized, smart_225_raw, smart_226_normalized, smart_226_raw, smart_235_normalized, smart_235_raw, smart_240_normalized, smart_240_raw, smart_241_normalized, smart_241_raw, smart_242_normalized, smart_242_raw, smart_250_normalized, smart_250_raw, smart_251_normalized, smart_251_raw, smart_252_normalized, ...]
Index: []

[0 rows x 105 columns]

In [33]:
data3 = pd.read_csv('E:/data/data_Q1_2018/2018-01-03.csv')

In [34]:
data3[data3.failure == 1]

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
680,2018-01-03,Z3025LH2,ST4000DM000,4000787030016,1,117,119634464,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29469,2018-01-03,W300SSGD,ST4000DM000,4000787030016,1,115,96990848,NaN,NaN,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34292,2018-01-03,Z305AGS0,ST4000DM000,4000787030016,1,116,111524312,NaN,NaN,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69502,2018-01-03,Z3015C6Y,ST4000DM000,4000787030016,1,111,40135592,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73536,2018-01-03,S301PVB9,ST4000DM000,4000787030016,1,110,27361280,NaN,NaN,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87991,2018-01-03,ZA10YQJS,ST8000DM002,8001563222016,1,66,77145160,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data3[data3.serial_number == 'S300V3AD']

Empty DataFrame
Columns: [date, serial_number, model, capacity_bytes, failure, smart_1_normalized, smart_1_raw, smart_2_normalized, smart_2_raw, smart_3_normalized, smart_3_raw, smart_4_normalized, smart_4_raw, smart_5_normalized, smart_5_raw, smart_7_normalized, smart_7_raw, smart_8_normalized, smart_8_raw, smart_9_normalized, smart_9_raw, smart_10_normalized, smart_10_raw, smart_11_normalized, smart_11_raw, smart_12_normalized, smart_12_raw, smart_13_normalized, smart_13_raw, smart_15_normalized, smart_15_raw, smart_22_normalized, smart_22_raw, smart_177_normalized, smart_177_raw, smart_179_normalized, smart_179_raw, smart_181_normalized, smart_181_raw, smart_182_normalized, smart_182_raw, smart_183_normalized, smart_183_raw, smart_184_normalized, smart_184_raw, smart_187_normalized, smart_187_raw, smart_188_normalized, smart_188_raw, smart_189_normalized, smart_189_raw, smart_190_normalized, smart_190_raw, smart_191_normalized, smart_191_raw, smart_192_normalized, smart_192_raw, smart_193_normalized, smart_193_raw, smart_194_normalized, smart_194_raw, smart_195_normalized, smart_195_raw, smart_196_normalized, smart_196_raw, smart_197_normalized, smart_197_raw, smart_198_normalized, smart_198_raw, smart_199_normalized, smart_199_raw, smart_200_normalized, smart_200_raw, smart_201_normalized, smart_201_raw, smart_220_normalized, smart_220_raw, smart_222_normalized, smart_222_raw, smart_223_normalized, smart_223_raw, smart_224_normalized, smart_224_raw, smart_225_normalized, smart_225_raw, smart_226_normalized, smart_226_raw, smart_235_normalized, smart_235_raw, smart_240_normalized, smart_240_raw, smart_241_normalized, smart_241_raw, smart_242_normalized, smart_242_raw, smart_250_normalized, smart_250_raw, smart_251_normalized, smart_251_raw, smart_252_normalized, ...]
Index: []

[0 rows x 105 columns]

In [1]:
import os
import pandas as pd 
import numpy as np

In [2]:
dataOfBlack_2020_1 = []
dirs = os.listdir('E:/data/data_Q1_2018')
for i in dirs:
    dataOfBlack_2020_1.append(pd.read_csv('E:/data/data_Q1_2018/' + i))

In [3]:
dataOfBlack_2020_1OfFailure = []
for i in range(len(dataOfBlack_2020_1)):
    dataOfBlack_2020_1OfFailure.append(dataOfBlack_2020_1[i][dataOfBlack_2020_1[i].failure == 1])

In [23]:
dataOfBlack_2020_1OfFailure[0]

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
13720,2018-01-01,Z300GZ1B,ST4000DM000,4000787030016,1,108,17846936,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65393,2018-01-01,Z300GZCV,ST4000DM000,4000787030016,1,110,25274512,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74156,2018-01-01,VKGKRG7X,HGST HUH728080ALE600,8001563222016,1,100,0,134.0,105.0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for i in range(len(dataOfBlack_2020_1OfFailure) - 1):
    errordisk = pd.concat(data)

In [21]:
 df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']},
                       index=[0, 1, 2, 3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [19]:
df2 = pd.DataFrame()
df2 = df1
df2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [27]:
df3 = pd.concat(df1, df2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [35]:
data[data.serial_number == 'Z3025LH2']

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
679,2018-01-01,Z3025LH2,ST4000DM000,4000787030016,0,118,190236968,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
len(dataOfBlack_2020_1)

90

In [15]:
dataOfBlack_2020_1[4][dataOfBlack_2020_1[4].serial_number == dataOfBlack_2020_1[5][dataOfBlack_2020_1[5].failure == 1].serial_number.values[2]]

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
10229,2018-01-05,Z300ZV9B,ST4000DM000,4000787030016,0,118.0,177995512.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
dataOferrordisk = pd.DataFrame()

In [52]:
listOfpositiveSample = []
for i in range(5, len(dataOfBlack_2020_1)):
    dataOferrordisk = dataOfBlack_2020_1[i][dataOfBlack_2020_1[i].failure == 1]
    k = 5
    for j in range(len(dataOferrordisk)):
        while(k >= 0):
            listOfpositiveSample.append(dataOfBlack_2020_1[i - k][dataOfBlack_2020_1[i - k].serial_number == dataOferrordisk.serial_number.values[j]])
            k = k - 1

In [54]:
positiveSample = pd.concat(positiveSample, ignore_index=True)

In [55]:
positiveSample.to_csv('E:/data/positiveSample_Q1.csv')

In [29]:
z = 5
while z >= 3:
    print(z)
    print(z - 1)
    z = z - 3
    print(z) 
    print('****')

5
4
2
****

In [41]:
df1 = pd.DataFrame()
df2 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']},
                       index=[0, 1, 2, 3])

In [51]:
df2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [45]:
pd.concat(df2, df1)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [48]:
l = []
for i in range(3):
    l.append(df2)

In [50]:
pd.concat(l)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [1]:
import torch.nn as nn
import torch

In [2]:
lstm = nn.LSTM(13, 32, batch_first=True)

In [3]:
x1 = torch.ones(10, 1, 13)
x2 = torch.ones(10, 5, 13)

In [8]:
y1, _ = lstm(x1)
y2, _ = lstm(x2)

In [9]:
y1.shape

torch.Size([10, 1, 32])

In [10]:
y2.shape

torch.Size([10, 5, 32])

In [11]:
import pandas as pd

In [12]:
sample = pd.read_csv('E:/data/positiveSample_Q1.csv')

In [14]:
sample['smart_1_raw'].isna().sum()

12

In [3]:
import torch.nn as nn

In [5]:
cnn = nn.Conv2d(1, 10, 5)

In [8]:
cnn(torch.ones(10, 1, 5, 5)).shape

torch.Size([10, 10, 1, 1])

In [1]:
import pandas as pd 
import numpy as np

In [11]:
df = pd.DataFrame(np.arange(12).reshape(3,4),
                columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [8]:
df.drop(columns='A', index=0)

   B   C   D
1  5   6   7
2  9  10  11

In [12]:
df[df.A == 0].index.values

array([0], dtype=int64)

In [13]:
df.drop(df[df.A == 0].index.values, axis = 0)

   A  B   C   D
1  4  5   6   7
2  8  9  10  11

In [14]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
df1=pd.DataFrame(a,index=['row0','row1','row2'],columns=list('ABC'))
print(df1)
df2=df1.copy()

A  B  C
row0  1  2  3
row1  4  5  6
row2  7  8  9

In [15]:
df1

      A  B  C
row0  1  2  3
row1  4  5  6
row2  7  8  9

In [16]:
df2

      A  B  C
row0  1  2  3
row1  4  5  6
row2  7  8  9

In [17]:
cols=[x for i,x in enumerate(df2.columns) if df2.iat[0,i]==3]
cols

['C']

In [18]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [21]:
a = []
a = list(df.A)
a

[0, 4, 8]

In [22]:
for i in a:
    if i == 0:
        a.remove(i)

In [23]:
a

[4, 8]

In [24]:
df[df.A.isin(a)]

   A  B   C   D
1  4  5   6   7
2  8  9  10  11

In [25]:
data = pd.read_csv('E:/data/data_Q1_2018/2018-01-01.csv')

In [30]:
serial_number = list(data.serial_number)
serial_number

['Z305B2QN',
 'PL1331LAHG1S4H',
 'ZA16NQJR',
 'ZA18CEBT',
 'ZA18CEBS',
 'Z305DEMG',
 'ZA130TTW',
 'ZA18CEBF',
 'PL2331LAG9TEEJ',
 'PL2331LAH3WYAJ',
 'Z3023VGH',
 'PL1311LAG2205A',
 'PL1331LAHG53YH',
 'Z305DEMX',
 'ZA10JDYK',
 'PL1331LAGSPEUH',
 'PL1331LAHD1HTH',
 'Z4D05G2K',
 'Z306WYZZ',
 'S300ZP5B',
 'Z4D062ZT',
 'PL1331LAHD0PDH',
 'PL1331LAHD00PH',
 'Z305DEMV',
 'PL2331LAGPS2TJ',
 'ZA13YGBE',
 'ZA18CEB3',
 'ZA13YGBG',
 'ZA13YGBX',
 'WD-WX41A356N5N1',
 'Z305J0TE',
 'PL1331LAGRZ5UH',
 'PL2331LAGM7YGJ',
 'ZA13YGBS',
 'ZA13YGBR',
 'ZA13YGBT',
 'S301NGZV',
 'ZA13Z860',
 'ZA101JHT',
 'Z300X922',
 'ZA12MLSD',
 'S3010M7R',
 'ZA13YGB1',
 'PL2331LAHDE6VJ',
 'S3010M7H',
 'Z3040J5T',
 'ZA1608EP',
 'S3010M7E',
 'Z3057728',
 'VKGKWHEX',
 'ZA181JVY',
 'Z302BV7E',
 'PL1331LAGS1J6H',
 'ZA1211BE',
 '96HCTBI0T',
 'PL1331LAHD2ADH',
 'Z305NZMD',
 'Z300WG7Z',
 'PL2331LAHDW6GJ',
 'ZA10RYB6',
 'Z305NZM9',
 'Z305AJF7',
 'PL2331LAHDWWSJ',
 'ZA10RYBE',
 'PL1331LAHBGDRH',
 'PL1331LAHDYTAH',
 'ZA10RYBZ',
 'PL2331LAHDMW6J',
 'ZA189GBG',
 '66HLS2OZS',
 'ZA10RYBR',
 'PL2311LAG1TB1C',
 'S301NGZ7',
 'PL2331LAGMNWSJ',
 'PL2331LAGN4BUJ',
 'S3010M78',
 'S301NGZ8',
 'S3010M72',
 'ZA13Z86G',
 'ZA13Z86F',
 'ZA13Z86K',
 'Z305LG79',
 'PL2331LAH3BDMJ',
 'ZA102QX6',
 'Z300CWTK',
 'PL2331LAHDAP2J',
 'S301GMGW',
 'Z3015LCH',
 'Z4D07B6E',
 'PL2331LAHDX99J',
 'Z300PAB6',
 'W300JMQL',
 'Z300PAB5',
 'Z304HQRL',
 'PL2331LAHA8KNJ',
 'ZA14DR6G',
 'PL1331LAHD11XH',
 'Z303XDXN',
 'ZA12YPPQ',
 'ZCH07LZY',
 'ZA142WEN',
 'PL1311LAG3DT5H',
 'W300T22A',
 'Z305H41M',
 'Z300DPXN',
 'Z305G2QK',
 'PL1331LAGT9J6H',
 'ZA139DRL',
 'Z4D03TNS',
 'ZA13HHY3',
 'Z304HQR4',
 'S301NYES',
 'Z304SY3R',
 'S301NYEV',
 'Z300PABB',
 'ZA211GM5',
 'Z300KFP1',
 'ZCH06DVN',
 'WD-WXL1H644SYHA',
 'PL1331LAGSJ2RH',
 'PL1311LAG3DPVH',
 'Z300X8B1',
 'PL2331LAGN1BNJ',
 'ZA141LX7',
 'Z302T6H6',
 'PL2331LAHDWRRJ',
 'ZA12NA8P',
 'PL2331LAGUMG5J',
 'PL1331LAGSZD5H',
 'S301GML1',
 'PL1331LAHD2SSH',
 'Z3015JRG',
 'Z305KB3Y',
 '2EG16MZJ',
 'PL1331LAHD34AH',
 'S301GMLL',
 'ZA12YJF4',
 'Z302BS8M',
 'S301GMLG',
 'Z303ZLN0',
 'Z305KB36',
 'Z305KB37',
 'S301GMLY',
 'PL2331LAH3W3TJ',
 'PL1331LAHD0E3H',
 'PL1331LAGSRSSH',
 'ZA172F49',
 'ZA171C3W',
 'ZA172F47',
 'PL1331LAGLZRMH',
 'Z300X8BY',
 'PL1331LAHG5A5H',
 'PL1311LAG3ANBH',
 'ZA171C3M',
 'ZA13VTJJ',
 'Z302T6HP',
 'PL2331LAGMEVNJ',
 'ZA11PNPR',
 'PL1331LAGSHWYH',
 'W300MA9F',
 'PL1331LAHDP4ZH',
 'Z30240QK',
 'ZA1819MW',
 'PL2331LAHDUVVJ',
 'ZA1819MQ',
 'ZA1819MP',
 'ZA1819MS',
 'ZA1819MR',
 'ZA13ZVV5',
 'ZA13ZVV4',
 'PL2331LAHDG05J',
 'ZA13ZVV6',
 'ZA1819MY',
 'ZA13ZVV0',
 'ZA1819ME',
 'ZA1819MD',
 'WD-WX81A74A5KCF',
 'PL1331LAHBSDVH',
 'PL2331LAGN487J',
 'ZA1819MM',
 'ZA1819MN',
 'ZA1819MH',
 'ZA1819MK',
 'ZA1819M7',
 'ZA1819M1',
 'ZA1819M3',
 'ZDH0CWE7',
 'ZA1819M9',
 'PL2331LAG9WG5J',
 'Z305E8LA',
 'PL1331LAGM1P5H',
 'PL1331LAHBY10H',
 'ZA181A9E',
 'S2ZYJ9FG405092',
 'ZA170V4C',
 'ZA170V4J',
 'ZA170V4P',
 'ZA10BWBE',
 'ZA11QC9W',
 'ZA170V4X',
 'ZA13YGBC',
 'ZA12DKWN',
 'PL1331LAHD61NH',
 'ZA12WYY1',
 'ZA12WYY2',
 'ZCH071HH',
 'PL2331LAHDBJYJ',
 'ZCH071HC',
 'PL2331LAG8Y42J',
 'ZA16B9HN',
 'ZA13RHAM',
 'PL2331LAHBWR8J',
 'ZA11PPJC',
 'Z3011WWR',
 'Z302SSEG',
 'Z304HW67',
 'PL1331LAHBZ41H',
 'ZA21HD5A',
 'ZCH05KWT',
 'Z4D05J4V',
 'Z4D07J41',
 'ZA181A9Y',
 'ZA1803SA',
 'PL2331LAH3H6LJ',
 'PL2331LAHANKLJ',
 'PL2331LAHB97HJ',
 'Z304JKQW',
 'PL1331LAGTDNVH',
 'ZCH05KWG',
 'ZCH071H9',
 'Z3055YPL',
 'PL2331LAHDUR2J',
 'PL2331LAHDMXVJ',
 'ZA16XBWS',
 'ZCH071H1',
 'ZCH071H0',
 'ZCH071H4',
 'ZA18A833',
 'ZA173DLD',
 'PL1331LAGR5TTH',
 'ZA18A836',
 'S301PVNF',
 'PL2331LAHDLEAJ',
 'ZA180WH0',
 '57QEWPYMT',
 'Z304GH4N',
 'W3015JSX',
 'ZA13YG98',
 'ZA12KZ1L',
 'ZCH07ZCL',
 'ZA12KZ1J',
 'ZA12KZ1K',
 'ZCH07ZCG',
 'ZA12KZ1G',
 'ZA12KZ1D',
 'ZA12KZ1E',
 'ZCH07ZCC',
 'ZA12KZ1C',
 'ZA13YG96',
 'ZA10S9BM',
 'Z300ZTJ8',
 'ZA12KZ1Z',
 'S2ZYJ9KG927385',
 'ZCH07ZCY',
 'ZCH07ZCX',
 'ZA12KZ1V',
 'ZA12KZ1W',
 'Z3058LG6',
 'ZA12KZ1R',
 'ZA12KZ1S',
 'ZA1869YJ',
 'ZA12KZ1Q',
 'PL2331LAGN5T0J',
 'ZA13YG9Z',
 'PL2331LAGN49VJ',
 'Z300ZTJN',
 'ZA13YG9P',
 'ZA13YG9Q',
 'ZA13YG9R',
 'PL1331LAHDY70H',
 'ZA13YG9T',
 'ZA13YG9V',
 'PL1311LAG3EE4H',
 'ZA13YG9K',
 'ZA12KZ18',
 'ZA12KZ19',
 'Z300ZTJQ',
 'ZA12KZ17',
 'ZA12KZ14',
 'ZA13YG9C',
 'ZA12KZ12',
 'ZA108SHY',
 'ZA13YG9G',
 'ZA144KEH',
 'PL1331LAGRLK0H',
 'S3010WBY',
 'ZA1199H2',
 'ZA154SC9',
 'ZA154SC1',
 'ZA11ATPV',
 'VKGKKR1X',
 'ZA171RYY',
 'ZA171RYX',
 'S301NGZM',
 'PL2331LAGMSDKJ',
 'ZA11ATPL',
 'S301NGZN',
 'Z3016SXE',
 'Z304KR3N',
 'Z304KR3L',
 'Z304KR3K',
 'ZA171BV5',
 'ZA21670W',
 'Z30251Y1',
 'ZA109TJA',
 'Z304KR3D',
 'Z304KR3C',
 'Z304KR3B',
 'Z304KR3A',
 'W4J0YEMV',
 'ZA127096',
 'Z304KR3Z',
 'Z304KR3Y',
 'Z304KR3X',
 'Z304KR3W',
 'Z305CYG4',
 'Z304KR3S',
 'Z304KR3R',
 'Z3029F4K',
 'PL2331LAGMNX6J',
 'Z305C1W5',
 'ZA16DSXV',
 'ZA10JQT8',
 'ZA171BVX',
 'Z300ZT4F',
 'PL1331LAGS3BWH',
 'Z30251YX',
 'ZCH07RYH',
 'Z30251YG',
 'ZA171BVD',
 'Z3016SX0',
 'Z304KR38',
 'Z304KR36',
 'Z30251YL',
 'PL1331LAHDNS3H',
 'Z304KR32',
 'Z305CJYF',
 'ZA18CDDK',
 'PL1331LAHD0GWH',
 'Z30178CN',
 'ZA11VJ1N',
 'Z30178CQ',
 'Z304HWSD',
 'ZA189JH5',
 'ZA189JH7',
 'ZA11F7XW',
 'ZA189JH1',
 'ZA13YQ6V',
 'PL1331LAHBSELH',
 'PL2331LAGPVYEJ',
 'PL1331LAHDYVSH',
 'PL1331LAGT45MH',
 'ZA189JH8',
 'WD-WXT1EA408ZM9',
 'PL1331LAG5AZWH',
 'ZA10NJCX',
 'ZCH06FNZ',
 'PL2331LAGMKVAJ',
 'Z302FD0Q',
 'Z305NZMM',
 'PL2331LAH3NURJ',
 'PL1331LAGSKH7H',
 'PL2331LAGU9GRJ',
 'Z3029AC4',
 'Z300WG7R',
 'PL2331LAGUJ3EJ',
 'Z3029AC3',
 '4584K0TOFMYB',
 'Z3029ACH',
 'Z302FD08',
 'Z3025R5F',
 'Z3029ACD',
 'PL1331LAHDYALH',
 'PL1331LAGP69RH',
 'W300R8HJ',
 'Z3029ACY',
 'ZA11TXM3',
 'ZA130MM3',
 'Z3025R5Z',
 'ZA189JHS',
 'ZA189JHD',
 'ZA189JHF',
 'PL1331LAHERNGH',
 'ZA189JHN',
 'ZA189JHH',
 'PL1311LAG21BKA',
 'ZA21EKNA',
 'PL1331LAHBN26H',
 'WD-WXK1H643S24S',
 'ZA21EKNR',
 'PL1331LAHDYLYH',
 'PL1331LAH6K6UH',
 'ZA11NHSV',
 'Z300WKNW',
 'ZA11NHSS',
 'ZA11NHSN',
 'ZCH080T0',
 'Z300WKNN',
 'ZCH080T7',
 'ZCH080T6',
 'Z302DZ4Z',
 'ZA11NHSA',
 'ZCH080TA',
 'ZA12PV1K',
 'ZA186AYW',
 'PL1331LAHBYP6H',
 'ZA11NHS8',
 'PL2331LAHBADVJ',
 'Z300WKN5',
 'PL2331LAHDB92J',
 'PL1331LAGSE3UH',
 'Z3016P8L',
 'PL2331LAHDK3KJ',
 'Z3059YCC',
 'WD-WX41A3575J2P',
 'W300B10F',
 'ZCH068YT',
 'ZA10RYBF',
 'Z3059YCK',
 'W300B10L',
 'ZA12PV1N',
 'PL1331LAHD3VDH',
 'ZA13FJ2K',
 'ZA13QBT4',
 'Z304H2SM',
 'WD-WX41D94RNV69',
 'ZA13FJ2C',
 'ZCH068YW',
 'ZA13FJ2E',
 'Z4D04WV5',
 'ZA13FJ2F',
 'ZA13ZVAP',
 'ZA12S7DV',
 'ZA13YP43',
 'Z305KKTV',
 'ZA174XFM',
 'PL1331LAHBGP4H',
 'ZA174KF2',
 'ZA10NF8B',
 'ZA174KF0',
 'PL2331LAHDNK2J',
 'PL2331LAGMPA5J',
 'Z302404Q',
 'ZA1819VF',
 'ZA1819VG',
 'ZA12KZ10',
 'PL2331LAHA123J',
 'ZA1819VB',
 'ZA1819VC',
 'ZA1819VL',
 'PL1331LAHEDWHH',
 'PL2331LAHDWAUJ',
 'ZA1819VV',
 'ZA1819VW',
 'ZA16T0LJ',
 'ZCH06KWQ',
 'PL2331LAGRJLMJ',
 'ZA1819VZ',
 'PL1331LAHERH4H',
 'PL2331LAHBUEGJ',
 'Z30145L2',
 'Z301567D',
 'Z3028C6K',
 'S300VLNB',
 'PL1331LAHGUSNH',
 'Z300X92Y',
 'ZA1819V0',
 'ZA1819V1',
 'ZA1819V2',
 'ZA1819V3',
 'PL1321LAGATDWH',
 'ZA10B5K0',
 'PL2331LAHA8NTJ',
 'ZA1819V8',
 'ZA1819V9',
 'PL2331LAGN32LJ',
 'PL1331LAHD8NMH',
 'Z305LNB9',
 'ZA174KFY',
 'PL2331LAGUKLRJ',
 'Z3051MYL',
 'PL2311LAG1PMDC',
 'ZA174KFQ',
 'PL2331LAHDUDDJ',
 'PL1331LAHBXYEH',
 'ZA174XF3',
 'PL1331LAHBSHUH',
 'Z305K1YS',
 'Z305K1YR',
 'ZCH071SK',
 'ZCH06LP2',
 'Z305K1YV',
 'Z4D01SGM',
 'ZCH06FXG',
 'Z305F9Z2',
 'ZCH071SD',
 'ZCH071SX',
 'ZA10S71T',
 'Z305K1YA',
 'Z4D019KB',
 'ZCH06FXX',
 'ZCH071SQ',
 'ZCH06FXV',
 'ZCH06FXQ',
 'Z305D2NT',
 'PL2331LAGLW5UJ',
 'Z305D2NW',
 'Z305D2NS',
 'PL1331LAH2L0UH',
 'Z302SXQ5',
 'PL1331LAGSMWDH',
 'Z305D2NB',
 'ZA13WRL1',
 'Z305D2NL',
 'Z305D2NM',
 'ZA13ZVA3',
 'Z302SXQB',
 'Z304YW7P',
 'ZA13ZVA6',
 'ZCH066WM',
 'Z305K1Y3',
 'Z305K1Y1',
 'ZA216BYC',
 'PL1331LAHESA3H',
 'S301GVD4',
 'Z300XFF0',
 'ZCH071S1',
 'ZCH06FX1',
 'ZCH071S7',
 'ZA13R4HQ',
 'ZA13NX0E',
 'ZA1259T3',
 'ZA13FB46',
 'PL1331LAGTMN4H',
 'PL2331LAHD8ASJ',
 'PL1331LAGRKG5H',
 'Z305Q0L8',
 'PL2331LAHDGPMJ',
 'Z305GWY2',
 'PL1331LAHGBRAH',
 'Z305DWSX',
 'PL2331LAGULA1J',
 'JK1171YBK1N01F',
 'PL1331LAGA17BH',
 'ZA14TCAP',
 'Z304JDL3',
 'S300VKZN',
 'ZA140NK8',
 'PL1331LAGRLKKH',
 'ZA11QSL7',
 'Z305FZ1L',
 'S300ZQ4S',
 'Z30414WX',
 'Z302WP1V',
 'ZA21ADVC',
 'PL1311LAG29RYH',
 'PL2331LAHBDDTJ',
 'PL1331LAGBZMLH',
 'ZA21ADVR',
 'ZA154SQ1',
 'ZA171R28',
 'ZA10CF9E',
 'S3010MM7',
 'ZA171R27',
 'ZA171R20',
 'Z305B8PX',
 'PL2331LAHBBZBJ',
 'ZA18CEY0',
 'Z305GG8T',
 'PL1331LAGSG0AH',
 'Z304JNGX',
 'PL1331LAHDDUUH',
 'ZA13R7FV',
 'ZCH07GZC',
 'S301PYFW',
 'ZCH07GZM',
 'PL1331LAHE029H',
 'PL2331LAHDETRJ',
 'Z305D4P2',
 'Z305D4P3',
 'Z305D4P5',
 'Z30553AQ',
 'ZA15SZSW',
 'PL1331LAHD0H9H',
 'ZA130W3E',
 'Z300XF5W',
 '175PP3IWT',
 'Z305D4PQ',
 'PL1331LAGLXXLH',
 'Z305D4PS',
 'ZCH07GZ0',
 'Z305D4PV',
 'Z300YM4Z',
 'ZA18147N',
 'Z305D4PZ',
 'PL1331LAGRRDVH',
 'PL1331LAGRPSKH',
 'PL2331LAHDRA4J',
 'S3010MMZ',
 'S3010MMW',
 'WD-WX41D94RNZ5T',
 'ZA171TMA',
 'Z305KQZK',
 'ZA154FJ0',
 'ZA171R2H',
 'S3010MMG',
 'PL1331LAGT595H',
 'S3011HAB',
 'Z300GQ9L',
 'W301D1FM',
 'ZA14F1LA',
 'ZA17ZNMX',
 'ZA17ZNMY',
 'Z300GQ9C',
 'Z304JG7Q',
 'ZA189JS5',
 'ZA189JS0',
 'ZA17ZNME',
 'Z304JG7W',
 'Z304JG7V',
 'Z304JG7X',
 'ZA17ZNMJ',
 'ZA13PEPY',
 'S300XDS7',
 'ZA17ZNMM',
 'W3006LZF',
 'PL2331LAGU9G7J',
 'S300XQQ2',
 'Z4D09YDG',
 'S30117YT',
 'PL1331LAHBN6LH',
 'S3017S26',
 'VKGL031X',
 'PL2331LAHDUT1J',
 'S30117YJ',
 'PL1331LAHGJD1H',
 'PL2331LAHBEGJJ',
 'S2X4N0CK',
 'Z304ZF5C',
 'ZCH076PA',
 'ZA189JSE',
 'ZA139GMG',
 'PL2331LAGN7YKJ',
 'PL1331LAHG20PH',
 'ZA17ZNM9',
 'ZA189JSN',
 'ZA139GMH',
 'W300A6PR',
 'S300XDSE',
 'Z300GQ98',
 'PL1331LAHBR5WH',
 'Z300GQ96',
 'Z300GQ94',
 'Z300GQ95',
 'Z300GQ93',
 'Z300GQ90',
 'Z300GQ91',
 'PL2331LAHDSH1J',
 'PL2331LAGUGXNJ',
 'PL2331LAHDRPNJ',
 'ZCH077E0',
 'PL1331LAHBSLAH',
 'PL1331LAGA9R1H',
 'PL2311LAG1N1BC',
 'Z301N2J5',
 'ZA126LSR',
 'Z302SRL2',
 'ZA120ZDJ',
 'Z305APC0',
 'Z3025LH2',
 'Z3025LHK',
 'S300YQT2',
 'Z3025LHC',
 'ZA130JWQ',
 'PL2331LAHDWN3J',
 'Z305APCP',
 'Z3025LHP',
 'Z305APCY',
 'PL1331LAHG27NH',
 'PL2331LAHD7TAJ',
 'Z305FB3T',
 'ZA12ZQAQ',
 'W3007MZF',
 'PL2331LAHD7KBJ',
 'S300XBEZ',
 'Z3058WTS',
 'ZA10NJ6Y',
 'PL2331LAHDWTVJ',
 'Z305415J',
 'Z305EKLP',
 'ZA121XXR',
 'PL2331LAH46R3J',
 'Z305ANY2',
 'PL1331LAHD359H',
 'PL1331LAGBBH9H',
 'PL2331LAHDTG6J',
 'PL2331LAHDHJ0J',
 'ZA21AE36',
 'Z3029B22',
 'Z3029B2J',
 'PL2331LAHDHAMJ',
 'Z305ANYT',
 'PL1331LAHD99TH',
 'ZA21AE3E',
 'Z3029B2C',
 'Z3029B2F',
 'ZA170HVZ',
 'Z305ANYB',
 'Z305ANYC',
 'PL2331LAGULDYJ',
 'PL1331LAHE1J4H',
 'Z3029B2T',
 'Z3029B2W',
 'ZA10NJ66',
 'ZA219WVF',
 'ZA10NJ60',
 'ZA10NJ61',
 'VKGK8VJX',
 'ZA21E6G5',
 'Z300P9AX',
 'PL2331LAG8SRHJ',
 'Z302CY5D',
 'S300Z41Q',
 'S300Z41P',
 'S300Z41W',
 'ZCH06F39',
 'S300XC72',
 'S300Z41Z',
 'S300Z41Y',
 'ZA11NJE9',
 'PL1331LAH3DUGH',
 'ZCH06F32',
 'PL2331LAHDEU7J',
 'S300Z41B',
 '45CHK11SFMYB',
 'S300Z41D',
 'PL1331LAHD406H',
 'PL2331LAHAYH6J',
 'PL2331LAHDWNHJ',
 'S300YQTW',
 'WD-WX81A1468540',
 'PL2331LAGJHE1J',
 'ZA12Y3DQ',
 'PL2331LAHE3VNJ',
 'Z3058QFX',
 'ZA1750LP',
 'ZA141ZCY',
 'Z300WZ9Z',
 'ZA10DT1S',
 'Z30041LK',
 'VKH0W6EX',
 'PL1331LAHBZE7H',
 'Z30262G8',
 'PL1331LAHD2VVH',
 'Z3014LG2',
 'PL1331LAGLYTNH',
 'S300Z413',
 'Z305AR38',
 'S300Z410',
 'ZCH0716C',
 'ZCH06F3Y',
 'ZCH0716A',
 'ZCH0716M',
 'ZCH06F3P',
 'ZCH05E2V',
 'ZCH0716W',
 'PL2331LAGMGW2J',
 'Z3026P1P',
 'Z305GK1Q',
 'PL1331LAHGRVWH',
 'ZCH0716X',
 'ZCH081JQ',
 'ZCH081JT',
 'ZCH081JX',
 'ZCH081JY',
 'ZCH081JC',
 'Z30576J2',
 'S3010T5N',
 'ZCH081JJ',
 'Z300E4CC',
 'Z30111JA',
 'Z302T7KN',
 'PL1331LAGSDY7H',
 'S2ZYJ9HF707975',
 'PL2331LAGMZRWJ',
 'PL1331LAHD5SMH',
 'Z30111JK',
 'PL2331LAHDH5DJ',
 'Z30111JR',
 'ZA10ESCJ',
 'S300YQTN',
 'Z30111JW',
 'Z305D45G',
 'Z30111JZ',
 'PL1321LAG35VNH',
 'Z302T7KS',
 'PL1331LAGSLDRH',
 'Z300X9A0',
 'Z305D6EK',
 'Z30111J1',
 'Z30111J2',
 'ZA1890DY',
 'Z30111J9',
 'PL2331LAGMXM9J',
 'Z305KVPR',
 'ZCH081J4',
 'ZCH081J9',
 'W300AM9K',
 'PL1311LAG2T16H',
 'PL2331LAHDX76J',
 'ZA10J813',
 'PL2331LAGN1ZJJ',
 'ZCH07RPP',
 'PL2331LAHDALZJ',
 'ZCH06HVA',
 'PL1311LAG28GJH',
 'PL2331LAG9HKPJ',
 'PL2331LAHB474J',
 'PL2331LAHDUNBJ',
 'ZA154CBX',
 'ZA12Q5T8',
 'Z4D02JT8',
 'ZA12Q5T9',
 'Z305FPT6',
 'ZA154CBS',
 'Z305FPT2',
 'ZCH06TPX',
 'Z302SYB1',
 'ZCH06TPE',
 'PL1331LAGA9PYH',
 'PL1331LAHEBKEH',
 'ZCH06TPK',
 'ZA10EG9R',
 'PL1331LAHG12SH',
 'Z302SYBB',
 'ZCH06TP3',
 'ZCH06TP2',
 'ZCH06TP0',
 'ZCH07C8S',
 'PL2331LAHDTSBJ',
 'Z302SYBJ',
 'PL1331LAGSKJJH',
 'ZA13BC9Q',
 'Z302SYBR',
 'Z305PJGG',
 'Z302SYBT',
 'Z302SYBV',
 'ZCH07C8F',
 '175PP3IJT',
 'Z305KVPL',
 '96HCTBIAT',
 'ZCH06HVR',
 'PL2331LAGMVADJ',
 'ZA12XND4',
 'Z304LLZG',
 'S300Y2V4',
 'S2ZYJ9BF508150',
 'S2ZYJ9BF508152',
 'S2ZYJ9BF508155',
 'PL1331LAGLWUYH',
 'ZA170TV7',
 'PL2331LAHDEZSJ',
 'ZCH07JB8',
 'PL1331LAHD6JBH',
 'PL2331LAHDMVWJ',
 'S301D8HV',
 'ZCH07JB6',
 'ZCH07JB7',
 'ZA12DWLB',
 'ZCH07WF5',
 'S30117DR',
 'S30117DQ',
 'PL1331LAHER2KH',
 'PL1331LAHBS0SH',
 'Z305DNNN',
 'ZA12PTH2',
 'ZCH07WFE',
 'PL1331LAHD0TUH',
 'ZA13Z17J',
 'ZCH07WFQ',
 'ZCH07JBM',
 'PL2331LAG9V44J',
 'ZCH07WFV',
 'W300KZXV',
 'Z305KWNJ',
 'S300YSEZ',
 'S300YSET',
 'S300YSEW',
 'S300YSEV',
 'S300YSEP',
 'S300YSES',
 'S300Z531',
 'PL1331LAGSHHUH',
 'S30108XD',
 'S300YSED',
 'S300YSEF',
 'W300SP1V',
 'S300ZS07',
 'PL2331LAHDEB6J',
 'Z3016N79',
 'Z3029FD8',
 'ZA11Q5W1',
 'W300SP1H',
 'PL1331LAHD0BHH',
 'Z3029FD4',
 'Z3016N76',
 'Z3016N71',
 'W3004W4G',
 'PL2331LAGU88UJ',
 'ZCH070K1',
 'ZCH070K3',
 'S300Z6YV',
 'S300Z6YP',
 'S300Z6YS',
 'ZCH070K6',
 'S300Z6YM',
 '5XW0362M',
 'Z3016TK2',
 'S300Z6YJ',
 'Z4D07R2E',
 'S300Z6YA',
 'ZA14E9BD',
 'Z300YMRV',
 'Z4D03VNE',
 'ZCH070KQ',
 'S300Z6Y7',
 'ZCH070KR',
 'S300Z6Y1',
 'ZCH070KT',
 'S300Z6Y3',
 'Z300YMRE',
 'Z304072T',
 'ZCH070KL',
 'PL1331LAGT5W0H',
 'Z303YTXD',
 'W3005N87',
 'ZCH070KC',
 'ZCH070KB',
 'PL1321LAG348SH',
 'PL2331LAH41JPJ',
 'Z3029FDF',
 'Z304K4V7',
 'Z3029FDE',
 'PL2331LAHDSHTJ',
 'Z3029FDV',
 'PL2331LAHDL8KJ',
 'PL1331LAHGBWKH',
 'ZA11FDFD',
 'PL1331LAGRZPRH',
 'Z302B0C8',
 'PL1331LAHDYJYH',
 'ZA11LYHF',
 'Z302B0C4',
 'Z302B0C6',
 'Z302B0C7',
 'Z302B0C3',
 'Z305GXAH',
 'WD-WX71A14S0199',
 'WD-WXQ1E93MUVJ3',
 'Z300K15M',
 'ZA16DY0H',
 'ZA16DY0D',
 'ZA16DY0B',
 'Z300CNRB',
 'Z30259E7',
 'Z304ZNMV',
 'ZA13R2B4',
 'Z30259E8',
 'WD-WX41A356NL78',
 'PL2331LAGR4ZLJ',
 'PL1331LAHEHXTH',
 'PL1331LAHD1TYH',
 'ZA13R2BM',
 'PL1331LAHBS6EH',
 'PL2331LAHB0JKJ',
 'Z303YQL1',
 'PL1331LAHESH9H',
 'Z30259EW',
 'Z30259EZ',
 'ZA13R2BT',
 'Z30259EY',
 'ZA13R2BQ',
 'PL2331LAGP178J',
 'ZA16DY01',
 'ZA16DY00',
 'ZA11R5HC',
 'Z302B0CT',
 'Z302B0CV',
 'Z302B0CW',
 'Z305GXA6',
 ...]

In [31]:
for i in serial_number:
    if i == 'Z305B2QN':
        serial_number.remove(i)
serial_number

['PL1331LAHG1S4H',
 'ZA16NQJR',
 'ZA18CEBT',
 'ZA18CEBS',
 'Z305DEMG',
 'ZA130TTW',
 'ZA18CEBF',
 'PL2331LAG9TEEJ',
 'PL2331LAH3WYAJ',
 'Z3023VGH',
 'PL1311LAG2205A',
 'PL1331LAHG53YH',
 'Z305DEMX',
 'ZA10JDYK',
 'PL1331LAGSPEUH',
 'PL1331LAHD1HTH',
 'Z4D05G2K',
 'Z306WYZZ',
 'S300ZP5B',
 'Z4D062ZT',
 'PL1331LAHD0PDH',
 'PL1331LAHD00PH',
 'Z305DEMV',
 'PL2331LAGPS2TJ',
 'ZA13YGBE',
 'ZA18CEB3',
 'ZA13YGBG',
 'ZA13YGBX',
 'WD-WX41A356N5N1',
 'Z305J0TE',
 'PL1331LAGRZ5UH',
 'PL2331LAGM7YGJ',
 'ZA13YGBS',
 'ZA13YGBR',
 'ZA13YGBT',
 'S301NGZV',
 'ZA13Z860',
 'ZA101JHT',
 'Z300X922',
 'ZA12MLSD',
 'S3010M7R',
 'ZA13YGB1',
 'PL2331LAHDE6VJ',
 'S3010M7H',
 'Z3040J5T',
 'ZA1608EP',
 'S3010M7E',
 'Z3057728',
 'VKGKWHEX',
 'ZA181JVY',
 'Z302BV7E',
 'PL1331LAGS1J6H',
 'ZA1211BE',
 '96HCTBI0T',
 'PL1331LAHD2ADH',
 'Z305NZMD',
 'Z300WG7Z',
 'PL2331LAHDW6GJ',
 'ZA10RYB6',
 'Z305NZM9',
 'Z305AJF7',
 'PL2331LAHDWWSJ',
 'ZA10RYBE',
 'PL1331LAHBGDRH',
 'PL1331LAHDYTAH',
 'ZA10RYBZ',
 'PL2331LAHDMW6J',
 'ZA189GBG',
 '66HLS2OZS',
 'ZA10RYBR',
 'PL2311LAG1TB1C',
 'S301NGZ7',
 'PL2331LAGMNWSJ',
 'PL2331LAGN4BUJ',
 'S3010M78',
 'S301NGZ8',
 'S3010M72',
 'ZA13Z86G',
 'ZA13Z86F',
 'ZA13Z86K',
 'Z305LG79',
 'PL2331LAH3BDMJ',
 'ZA102QX6',
 'Z300CWTK',
 'PL2331LAHDAP2J',
 'S301GMGW',
 'Z3015LCH',
 'Z4D07B6E',
 'PL2331LAHDX99J',
 'Z300PAB6',
 'W300JMQL',
 'Z300PAB5',
 'Z304HQRL',
 'PL2331LAHA8KNJ',
 'ZA14DR6G',
 'PL1331LAHD11XH',
 'Z303XDXN',
 'ZA12YPPQ',
 'ZCH07LZY',
 'ZA142WEN',
 'PL1311LAG3DT5H',
 'W300T22A',
 'Z305H41M',
 'Z300DPXN',
 'Z305G2QK',
 'PL1331LAGT9J6H',
 'ZA139DRL',
 'Z4D03TNS',
 'ZA13HHY3',
 'Z304HQR4',
 'S301NYES',
 'Z304SY3R',
 'S301NYEV',
 'Z300PABB',
 'ZA211GM5',
 'Z300KFP1',
 'ZCH06DVN',
 'WD-WXL1H644SYHA',
 'PL1331LAGSJ2RH',
 'PL1311LAG3DPVH',
 'Z300X8B1',
 'PL2331LAGN1BNJ',
 'ZA141LX7',
 'Z302T6H6',
 'PL2331LAHDWRRJ',
 'ZA12NA8P',
 'PL2331LAGUMG5J',
 'PL1331LAGSZD5H',
 'S301GML1',
 'PL1331LAHD2SSH',
 'Z3015JRG',
 'Z305KB3Y',
 '2EG16MZJ',
 'PL1331LAHD34AH',
 'S301GMLL',
 'ZA12YJF4',
 'Z302BS8M',
 'S301GMLG',
 'Z303ZLN0',
 'Z305KB36',
 'Z305KB37',
 'S301GMLY',
 'PL2331LAH3W3TJ',
 'PL1331LAHD0E3H',
 'PL1331LAGSRSSH',
 'ZA172F49',
 'ZA171C3W',
 'ZA172F47',
 'PL1331LAGLZRMH',
 'Z300X8BY',
 'PL1331LAHG5A5H',
 'PL1311LAG3ANBH',
 'ZA171C3M',
 'ZA13VTJJ',
 'Z302T6HP',
 'PL2331LAGMEVNJ',
 'ZA11PNPR',
 'PL1331LAGSHWYH',
 'W300MA9F',
 'PL1331LAHDP4ZH',
 'Z30240QK',
 'ZA1819MW',
 'PL2331LAHDUVVJ',
 'ZA1819MQ',
 'ZA1819MP',
 'ZA1819MS',
 'ZA1819MR',
 'ZA13ZVV5',
 'ZA13ZVV4',
 'PL2331LAHDG05J',
 'ZA13ZVV6',
 'ZA1819MY',
 'ZA13ZVV0',
 'ZA1819ME',
 'ZA1819MD',
 'WD-WX81A74A5KCF',
 'PL1331LAHBSDVH',
 'PL2331LAGN487J',
 'ZA1819MM',
 'ZA1819MN',
 'ZA1819MH',
 'ZA1819MK',
 'ZA1819M7',
 'ZA1819M1',
 'ZA1819M3',
 'ZDH0CWE7',
 'ZA1819M9',
 'PL2331LAG9WG5J',
 'Z305E8LA',
 'PL1331LAGM1P5H',
 'PL1331LAHBY10H',
 'ZA181A9E',
 'S2ZYJ9FG405092',
 'ZA170V4C',
 'ZA170V4J',
 'ZA170V4P',
 'ZA10BWBE',
 'ZA11QC9W',
 'ZA170V4X',
 'ZA13YGBC',
 'ZA12DKWN',
 'PL1331LAHD61NH',
 'ZA12WYY1',
 'ZA12WYY2',
 'ZCH071HH',
 'PL2331LAHDBJYJ',
 'ZCH071HC',
 'PL2331LAG8Y42J',
 'ZA16B9HN',
 'ZA13RHAM',
 'PL2331LAHBWR8J',
 'ZA11PPJC',
 'Z3011WWR',
 'Z302SSEG',
 'Z304HW67',
 'PL1331LAHBZ41H',
 'ZA21HD5A',
 'ZCH05KWT',
 'Z4D05J4V',
 'Z4D07J41',
 'ZA181A9Y',
 'ZA1803SA',
 'PL2331LAH3H6LJ',
 'PL2331LAHANKLJ',
 'PL2331LAHB97HJ',
 'Z304JKQW',
 'PL1331LAGTDNVH',
 'ZCH05KWG',
 'ZCH071H9',
 'Z3055YPL',
 'PL2331LAHDUR2J',
 'PL2331LAHDMXVJ',
 'ZA16XBWS',
 'ZCH071H1',
 'ZCH071H0',
 'ZCH071H4',
 'ZA18A833',
 'ZA173DLD',
 'PL1331LAGR5TTH',
 'ZA18A836',
 'S301PVNF',
 'PL2331LAHDLEAJ',
 'ZA180WH0',
 '57QEWPYMT',
 'Z304GH4N',
 'W3015JSX',
 'ZA13YG98',
 'ZA12KZ1L',
 'ZCH07ZCL',
 'ZA12KZ1J',
 'ZA12KZ1K',
 'ZCH07ZCG',
 'ZA12KZ1G',
 'ZA12KZ1D',
 'ZA12KZ1E',
 'ZCH07ZCC',
 'ZA12KZ1C',
 'ZA13YG96',
 'ZA10S9BM',
 'Z300ZTJ8',
 'ZA12KZ1Z',
 'S2ZYJ9KG927385',
 'ZCH07ZCY',
 'ZCH07ZCX',
 'ZA12KZ1V',
 'ZA12KZ1W',
 'Z3058LG6',
 'ZA12KZ1R',
 'ZA12KZ1S',
 'ZA1869YJ',
 'ZA12KZ1Q',
 'PL2331LAGN5T0J',
 'ZA13YG9Z',
 'PL2331LAGN49VJ',
 'Z300ZTJN',
 'ZA13YG9P',
 'ZA13YG9Q',
 'ZA13YG9R',
 'PL1331LAHDY70H',
 'ZA13YG9T',
 'ZA13YG9V',
 'PL1311LAG3EE4H',
 'ZA13YG9K',
 'ZA12KZ18',
 'ZA12KZ19',
 'Z300ZTJQ',
 'ZA12KZ17',
 'ZA12KZ14',
 'ZA13YG9C',
 'ZA12KZ12',
 'ZA108SHY',
 'ZA13YG9G',
 'ZA144KEH',
 'PL1331LAGRLK0H',
 'S3010WBY',
 'ZA1199H2',
 'ZA154SC9',
 'ZA154SC1',
 'ZA11ATPV',
 'VKGKKR1X',
 'ZA171RYY',
 'ZA171RYX',
 'S301NGZM',
 'PL2331LAGMSDKJ',
 'ZA11ATPL',
 'S301NGZN',
 'Z3016SXE',
 'Z304KR3N',
 'Z304KR3L',
 'Z304KR3K',
 'ZA171BV5',
 'ZA21670W',
 'Z30251Y1',
 'ZA109TJA',
 'Z304KR3D',
 'Z304KR3C',
 'Z304KR3B',
 'Z304KR3A',
 'W4J0YEMV',
 'ZA127096',
 'Z304KR3Z',
 'Z304KR3Y',
 'Z304KR3X',
 'Z304KR3W',
 'Z305CYG4',
 'Z304KR3S',
 'Z304KR3R',
 'Z3029F4K',
 'PL2331LAGMNX6J',
 'Z305C1W5',
 'ZA16DSXV',
 'ZA10JQT8',
 'ZA171BVX',
 'Z300ZT4F',
 'PL1331LAGS3BWH',
 'Z30251YX',
 'ZCH07RYH',
 'Z30251YG',
 'ZA171BVD',
 'Z3016SX0',
 'Z304KR38',
 'Z304KR36',
 'Z30251YL',
 'PL1331LAHDNS3H',
 'Z304KR32',
 'Z305CJYF',
 'ZA18CDDK',
 'PL1331LAHD0GWH',
 'Z30178CN',
 'ZA11VJ1N',
 'Z30178CQ',
 'Z304HWSD',
 'ZA189JH5',
 'ZA189JH7',
 'ZA11F7XW',
 'ZA189JH1',
 'ZA13YQ6V',
 'PL1331LAHBSELH',
 'PL2331LAGPVYEJ',
 'PL1331LAHDYVSH',
 'PL1331LAGT45MH',
 'ZA189JH8',
 'WD-WXT1EA408ZM9',
 'PL1331LAG5AZWH',
 'ZA10NJCX',
 'ZCH06FNZ',
 'PL2331LAGMKVAJ',
 'Z302FD0Q',
 'Z305NZMM',
 'PL2331LAH3NURJ',
 'PL1331LAGSKH7H',
 'PL2331LAGU9GRJ',
 'Z3029AC4',
 'Z300WG7R',
 'PL2331LAGUJ3EJ',
 'Z3029AC3',
 '4584K0TOFMYB',
 'Z3029ACH',
 'Z302FD08',
 'Z3025R5F',
 'Z3029ACD',
 'PL1331LAHDYALH',
 'PL1331LAGP69RH',
 'W300R8HJ',
 'Z3029ACY',
 'ZA11TXM3',
 'ZA130MM3',
 'Z3025R5Z',
 'ZA189JHS',
 'ZA189JHD',
 'ZA189JHF',
 'PL1331LAHERNGH',
 'ZA189JHN',
 'ZA189JHH',
 'PL1311LAG21BKA',
 'ZA21EKNA',
 'PL1331LAHBN26H',
 'WD-WXK1H643S24S',
 'ZA21EKNR',
 'PL1331LAHDYLYH',
 'PL1331LAH6K6UH',
 'ZA11NHSV',
 'Z300WKNW',
 'ZA11NHSS',
 'ZA11NHSN',
 'ZCH080T0',
 'Z300WKNN',
 'ZCH080T7',
 'ZCH080T6',
 'Z302DZ4Z',
 'ZA11NHSA',
 'ZCH080TA',
 'ZA12PV1K',
 'ZA186AYW',
 'PL1331LAHBYP6H',
 'ZA11NHS8',
 'PL2331LAHBADVJ',
 'Z300WKN5',
 'PL2331LAHDB92J',
 'PL1331LAGSE3UH',
 'Z3016P8L',
 'PL2331LAHDK3KJ',
 'Z3059YCC',
 'WD-WX41A3575J2P',
 'W300B10F',
 'ZCH068YT',
 'ZA10RYBF',
 'Z3059YCK',
 'W300B10L',
 'ZA12PV1N',
 'PL1331LAHD3VDH',
 'ZA13FJ2K',
 'ZA13QBT4',
 'Z304H2SM',
 'WD-WX41D94RNV69',
 'ZA13FJ2C',
 'ZCH068YW',
 'ZA13FJ2E',
 'Z4D04WV5',
 'ZA13FJ2F',
 'ZA13ZVAP',
 'ZA12S7DV',
 'ZA13YP43',
 'Z305KKTV',
 'ZA174XFM',
 'PL1331LAHBGP4H',
 'ZA174KF2',
 'ZA10NF8B',
 'ZA174KF0',
 'PL2331LAHDNK2J',
 'PL2331LAGMPA5J',
 'Z302404Q',
 'ZA1819VF',
 'ZA1819VG',
 'ZA12KZ10',
 'PL2331LAHA123J',
 'ZA1819VB',
 'ZA1819VC',
 'ZA1819VL',
 'PL1331LAHEDWHH',
 'PL2331LAHDWAUJ',
 'ZA1819VV',
 'ZA1819VW',
 'ZA16T0LJ',
 'ZCH06KWQ',
 'PL2331LAGRJLMJ',
 'ZA1819VZ',
 'PL1331LAHERH4H',
 'PL2331LAHBUEGJ',
 'Z30145L2',
 'Z301567D',
 'Z3028C6K',
 'S300VLNB',
 'PL1331LAHGUSNH',
 'Z300X92Y',
 'ZA1819V0',
 'ZA1819V1',
 'ZA1819V2',
 'ZA1819V3',
 'PL1321LAGATDWH',
 'ZA10B5K0',
 'PL2331LAHA8NTJ',
 'ZA1819V8',
 'ZA1819V9',
 'PL2331LAGN32LJ',
 'PL1331LAHD8NMH',
 'Z305LNB9',
 'ZA174KFY',
 'PL2331LAGUKLRJ',
 'Z3051MYL',
 'PL2311LAG1PMDC',
 'ZA174KFQ',
 'PL2331LAHDUDDJ',
 'PL1331LAHBXYEH',
 'ZA174XF3',
 'PL1331LAHBSHUH',
 'Z305K1YS',
 'Z305K1YR',
 'ZCH071SK',
 'ZCH06LP2',
 'Z305K1YV',
 'Z4D01SGM',
 'ZCH06FXG',
 'Z305F9Z2',
 'ZCH071SD',
 'ZCH071SX',
 'ZA10S71T',
 'Z305K1YA',
 'Z4D019KB',
 'ZCH06FXX',
 'ZCH071SQ',
 'ZCH06FXV',
 'ZCH06FXQ',
 'Z305D2NT',
 'PL2331LAGLW5UJ',
 'Z305D2NW',
 'Z305D2NS',
 'PL1331LAH2L0UH',
 'Z302SXQ5',
 'PL1331LAGSMWDH',
 'Z305D2NB',
 'ZA13WRL1',
 'Z305D2NL',
 'Z305D2NM',
 'ZA13ZVA3',
 'Z302SXQB',
 'Z304YW7P',
 'ZA13ZVA6',
 'ZCH066WM',
 'Z305K1Y3',
 'Z305K1Y1',
 'ZA216BYC',
 'PL1331LAHESA3H',
 'S301GVD4',
 'Z300XFF0',
 'ZCH071S1',
 'ZCH06FX1',
 'ZCH071S7',
 'ZA13R4HQ',
 'ZA13NX0E',
 'ZA1259T3',
 'ZA13FB46',
 'PL1331LAGTMN4H',
 'PL2331LAHD8ASJ',
 'PL1331LAGRKG5H',
 'Z305Q0L8',
 'PL2331LAHDGPMJ',
 'Z305GWY2',
 'PL1331LAHGBRAH',
 'Z305DWSX',
 'PL2331LAGULA1J',
 'JK1171YBK1N01F',
 'PL1331LAGA17BH',
 'ZA14TCAP',
 'Z304JDL3',
 'S300VKZN',
 'ZA140NK8',
 'PL1331LAGRLKKH',
 'ZA11QSL7',
 'Z305FZ1L',
 'S300ZQ4S',
 'Z30414WX',
 'Z302WP1V',
 'ZA21ADVC',
 'PL1311LAG29RYH',
 'PL2331LAHBDDTJ',
 'PL1331LAGBZMLH',
 'ZA21ADVR',
 'ZA154SQ1',
 'ZA171R28',
 'ZA10CF9E',
 'S3010MM7',
 'ZA171R27',
 'ZA171R20',
 'Z305B8PX',
 'PL2331LAHBBZBJ',
 'ZA18CEY0',
 'Z305GG8T',
 'PL1331LAGSG0AH',
 'Z304JNGX',
 'PL1331LAHDDUUH',
 'ZA13R7FV',
 'ZCH07GZC',
 'S301PYFW',
 'ZCH07GZM',
 'PL1331LAHE029H',
 'PL2331LAHDETRJ',
 'Z305D4P2',
 'Z305D4P3',
 'Z305D4P5',
 'Z30553AQ',
 'ZA15SZSW',
 'PL1331LAHD0H9H',
 'ZA130W3E',
 'Z300XF5W',
 '175PP3IWT',
 'Z305D4PQ',
 'PL1331LAGLXXLH',
 'Z305D4PS',
 'ZCH07GZ0',
 'Z305D4PV',
 'Z300YM4Z',
 'ZA18147N',
 'Z305D4PZ',
 'PL1331LAGRRDVH',
 'PL1331LAGRPSKH',
 'PL2331LAHDRA4J',
 'S3010MMZ',
 'S3010MMW',
 'WD-WX41D94RNZ5T',
 'ZA171TMA',
 'Z305KQZK',
 'ZA154FJ0',
 'ZA171R2H',
 'S3010MMG',
 'PL1331LAGT595H',
 'S3011HAB',
 'Z300GQ9L',
 'W301D1FM',
 'ZA14F1LA',
 'ZA17ZNMX',
 'ZA17ZNMY',
 'Z300GQ9C',
 'Z304JG7Q',
 'ZA189JS5',
 'ZA189JS0',
 'ZA17ZNME',
 'Z304JG7W',
 'Z304JG7V',
 'Z304JG7X',
 'ZA17ZNMJ',
 'ZA13PEPY',
 'S300XDS7',
 'ZA17ZNMM',
 'W3006LZF',
 'PL2331LAGU9G7J',
 'S300XQQ2',
 'Z4D09YDG',
 'S30117YT',
 'PL1331LAHBN6LH',
 'S3017S26',
 'VKGL031X',
 'PL2331LAHDUT1J',
 'S30117YJ',
 'PL1331LAHGJD1H',
 'PL2331LAHBEGJJ',
 'S2X4N0CK',
 'Z304ZF5C',
 'ZCH076PA',
 'ZA189JSE',
 'ZA139GMG',
 'PL2331LAGN7YKJ',
 'PL1331LAHG20PH',
 'ZA17ZNM9',
 'ZA189JSN',
 'ZA139GMH',
 'W300A6PR',
 'S300XDSE',
 'Z300GQ98',
 'PL1331LAHBR5WH',
 'Z300GQ96',
 'Z300GQ94',
 'Z300GQ95',
 'Z300GQ93',
 'Z300GQ90',
 'Z300GQ91',
 'PL2331LAHDSH1J',
 'PL2331LAGUGXNJ',
 'PL2331LAHDRPNJ',
 'ZCH077E0',
 'PL1331LAHBSLAH',
 'PL1331LAGA9R1H',
 'PL2311LAG1N1BC',
 'Z301N2J5',
 'ZA126LSR',
 'Z302SRL2',
 'ZA120ZDJ',
 'Z305APC0',
 'Z3025LH2',
 'Z3025LHK',
 'S300YQT2',
 'Z3025LHC',
 'ZA130JWQ',
 'PL2331LAHDWN3J',
 'Z305APCP',
 'Z3025LHP',
 'Z305APCY',
 'PL1331LAHG27NH',
 'PL2331LAHD7TAJ',
 'Z305FB3T',
 'ZA12ZQAQ',
 'W3007MZF',
 'PL2331LAHD7KBJ',
 'S300XBEZ',
 'Z3058WTS',
 'ZA10NJ6Y',
 'PL2331LAHDWTVJ',
 'Z305415J',
 'Z305EKLP',
 'ZA121XXR',
 'PL2331LAH46R3J',
 'Z305ANY2',
 'PL1331LAHD359H',
 'PL1331LAGBBH9H',
 'PL2331LAHDTG6J',
 'PL2331LAHDHJ0J',
 'ZA21AE36',
 'Z3029B22',
 'Z3029B2J',
 'PL2331LAHDHAMJ',
 'Z305ANYT',
 'PL1331LAHD99TH',
 'ZA21AE3E',
 'Z3029B2C',
 'Z3029B2F',
 'ZA170HVZ',
 'Z305ANYB',
 'Z305ANYC',
 'PL2331LAGULDYJ',
 'PL1331LAHE1J4H',
 'Z3029B2T',
 'Z3029B2W',
 'ZA10NJ66',
 'ZA219WVF',
 'ZA10NJ60',
 'ZA10NJ61',
 'VKGK8VJX',
 'ZA21E6G5',
 'Z300P9AX',
 'PL2331LAG8SRHJ',
 'Z302CY5D',
 'S300Z41Q',
 'S300Z41P',
 'S300Z41W',
 'ZCH06F39',
 'S300XC72',
 'S300Z41Z',
 'S300Z41Y',
 'ZA11NJE9',
 'PL1331LAH3DUGH',
 'ZCH06F32',
 'PL2331LAHDEU7J',
 'S300Z41B',
 '45CHK11SFMYB',
 'S300Z41D',
 'PL1331LAHD406H',
 'PL2331LAHAYH6J',
 'PL2331LAHDWNHJ',
 'S300YQTW',
 'WD-WX81A1468540',
 'PL2331LAGJHE1J',
 'ZA12Y3DQ',
 'PL2331LAHE3VNJ',
 'Z3058QFX',
 'ZA1750LP',
 'ZA141ZCY',
 'Z300WZ9Z',
 'ZA10DT1S',
 'Z30041LK',
 'VKH0W6EX',
 'PL1331LAHBZE7H',
 'Z30262G8',
 'PL1331LAHD2VVH',
 'Z3014LG2',
 'PL1331LAGLYTNH',
 'S300Z413',
 'Z305AR38',
 'S300Z410',
 'ZCH0716C',
 'ZCH06F3Y',
 'ZCH0716A',
 'ZCH0716M',
 'ZCH06F3P',
 'ZCH05E2V',
 'ZCH0716W',
 'PL2331LAGMGW2J',
 'Z3026P1P',
 'Z305GK1Q',
 'PL1331LAHGRVWH',
 'ZCH0716X',
 'ZCH081JQ',
 'ZCH081JT',
 'ZCH081JX',
 'ZCH081JY',
 'ZCH081JC',
 'Z30576J2',
 'S3010T5N',
 'ZCH081JJ',
 'Z300E4CC',
 'Z30111JA',
 'Z302T7KN',
 'PL1331LAGSDY7H',
 'S2ZYJ9HF707975',
 'PL2331LAGMZRWJ',
 'PL1331LAHD5SMH',
 'Z30111JK',
 'PL2331LAHDH5DJ',
 'Z30111JR',
 'ZA10ESCJ',
 'S300YQTN',
 'Z30111JW',
 'Z305D45G',
 'Z30111JZ',
 'PL1321LAG35VNH',
 'Z302T7KS',
 'PL1331LAGSLDRH',
 'Z300X9A0',
 'Z305D6EK',
 'Z30111J1',
 'Z30111J2',
 'ZA1890DY',
 'Z30111J9',
 'PL2331LAGMXM9J',
 'Z305KVPR',
 'ZCH081J4',
 'ZCH081J9',
 'W300AM9K',
 'PL1311LAG2T16H',
 'PL2331LAHDX76J',
 'ZA10J813',
 'PL2331LAGN1ZJJ',
 'ZCH07RPP',
 'PL2331LAHDALZJ',
 'ZCH06HVA',
 'PL1311LAG28GJH',
 'PL2331LAG9HKPJ',
 'PL2331LAHB474J',
 'PL2331LAHDUNBJ',
 'ZA154CBX',
 'ZA12Q5T8',
 'Z4D02JT8',
 'ZA12Q5T9',
 'Z305FPT6',
 'ZA154CBS',
 'Z305FPT2',
 'ZCH06TPX',
 'Z302SYB1',
 'ZCH06TPE',
 'PL1331LAGA9PYH',
 'PL1331LAHEBKEH',
 'ZCH06TPK',
 'ZA10EG9R',
 'PL1331LAHG12SH',
 'Z302SYBB',
 'ZCH06TP3',
 'ZCH06TP2',
 'ZCH06TP0',
 'ZCH07C8S',
 'PL2331LAHDTSBJ',
 'Z302SYBJ',
 'PL1331LAGSKJJH',
 'ZA13BC9Q',
 'Z302SYBR',
 'Z305PJGG',
 'Z302SYBT',
 'Z302SYBV',
 'ZCH07C8F',
 '175PP3IJT',
 'Z305KVPL',
 '96HCTBIAT',
 'ZCH06HVR',
 'PL2331LAGMVADJ',
 'ZA12XND4',
 'Z304LLZG',
 'S300Y2V4',
 'S2ZYJ9BF508150',
 'S2ZYJ9BF508152',
 'S2ZYJ9BF508155',
 'PL1331LAGLWUYH',
 'ZA170TV7',
 'PL2331LAHDEZSJ',
 'ZCH07JB8',
 'PL1331LAHD6JBH',
 'PL2331LAHDMVWJ',
 'S301D8HV',
 'ZCH07JB6',
 'ZCH07JB7',
 'ZA12DWLB',
 'ZCH07WF5',
 'S30117DR',
 'S30117DQ',
 'PL1331LAHER2KH',
 'PL1331LAHBS0SH',
 'Z305DNNN',
 'ZA12PTH2',
 'ZCH07WFE',
 'PL1331LAHD0TUH',
 'ZA13Z17J',
 'ZCH07WFQ',
 'ZCH07JBM',
 'PL2331LAG9V44J',
 'ZCH07WFV',
 'W300KZXV',
 'Z305KWNJ',
 'S300YSEZ',
 'S300YSET',
 'S300YSEW',
 'S300YSEV',
 'S300YSEP',
 'S300YSES',
 'S300Z531',
 'PL1331LAGSHHUH',
 'S30108XD',
 'S300YSED',
 'S300YSEF',
 'W300SP1V',
 'S300ZS07',
 'PL2331LAHDEB6J',
 'Z3016N79',
 'Z3029FD8',
 'ZA11Q5W1',
 'W300SP1H',
 'PL1331LAHD0BHH',
 'Z3029FD4',
 'Z3016N76',
 'Z3016N71',
 'W3004W4G',
 'PL2331LAGU88UJ',
 'ZCH070K1',
 'ZCH070K3',
 'S300Z6YV',
 'S300Z6YP',
 'S300Z6YS',
 'ZCH070K6',
 'S300Z6YM',
 '5XW0362M',
 'Z3016TK2',
 'S300Z6YJ',
 'Z4D07R2E',
 'S300Z6YA',
 'ZA14E9BD',
 'Z300YMRV',
 'Z4D03VNE',
 'ZCH070KQ',
 'S300Z6Y7',
 'ZCH070KR',
 'S300Z6Y1',
 'ZCH070KT',
 'S300Z6Y3',
 'Z300YMRE',
 'Z304072T',
 'ZCH070KL',
 'PL1331LAGT5W0H',
 'Z303YTXD',
 'W3005N87',
 'ZCH070KC',
 'ZCH070KB',
 'PL1321LAG348SH',
 'PL2331LAH41JPJ',
 'Z3029FDF',
 'Z304K4V7',
 'Z3029FDE',
 'PL2331LAHDSHTJ',
 'Z3029FDV',
 'PL2331LAHDL8KJ',
 'PL1331LAHGBWKH',
 'ZA11FDFD',
 'PL1331LAGRZPRH',
 'Z302B0C8',
 'PL1331LAHDYJYH',
 'ZA11LYHF',
 'Z302B0C4',
 'Z302B0C6',
 'Z302B0C7',
 'Z302B0C3',
 'Z305GXAH',
 'WD-WX71A14S0199',
 'WD-WXQ1E93MUVJ3',
 'Z300K15M',
 'ZA16DY0H',
 'ZA16DY0D',
 'ZA16DY0B',
 'Z300CNRB',
 'Z30259E7',
 'Z304ZNMV',
 'ZA13R2B4',
 'Z30259E8',
 'WD-WX41A356NL78',
 'PL2331LAGR4ZLJ',
 'PL1331LAHEHXTH',
 'PL1331LAHD1TYH',
 'ZA13R2BM',
 'PL1331LAHBS6EH',
 'PL2331LAHB0JKJ',
 'Z303YQL1',
 'PL1331LAHESH9H',
 'Z30259EW',
 'Z30259EZ',
 'ZA13R2BT',
 'Z30259EY',
 'ZA13R2BQ',
 'PL2331LAGP178J',
 'ZA16DY01',
 'ZA16DY00',
 'ZA11R5HC',
 'Z302B0CT',
 'Z302B0CV',
 'Z302B0CW',
 'Z305GXA6',
 'Z305GXA4',
 ...]

In [32]:
data[data.serial_number.isin(serial_number)]

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
1,2018-01-01,PL1331LAHG1S4H,HGST HMS5C4040ALE640,4000787030016,0,100,0,134.0,101.0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,ZA16NQJR,ST8000NM0055,8001563222016,0,81,119386608,NaN,NaN,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,ZA18CEBT,ST8000NM0055,8001563222016,0,83,194649096,NaN,NaN,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,ZA18CEBS,ST8000NM0055,8001563222016,0,83,187404648,NaN,NaN,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2018-01-01,Z305DEMG,ST4000DM000,4000787030016,0,116,115775056,NaN,NaN,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94181,2018-01-01,PL1331LAHD1AWH,HGST HMS5C4040BLE640,4000787030016,0,100,0,134.0,100.0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94182,2018-01-01,Z3016V0V,ST4000DM000,4000787030016,0,117,124839040,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94183,2018-01-01,PL1331LAHD0AHH,HGST HMS5C4040BLE640,4000787030016,0,100,0,134.0,100.0,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94184,2018-01-01,PL1331LAHD1T5H,HGST HMS5C4040BLE640,4000787030016,0,100,0,134.0,101.0,148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94185,2018-01-01,Z30271GD,ST4000DM000,4000787030016,0,118,174174344,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
data[data.failure == 1].serial_number.values

array(['Z300GZ1B', 'Z300GZCV', 'VKGKRG7X'], dtype=object)

In [41]:
serial_number.remove(data[data.failure == 1].serial_number.values)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [42]:
l = []
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-01.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-02.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-03.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-04.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-05.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-06.csv'))

In [46]:
listOfnegativeSample = []
for i in range(5, len(l)):
    error = l[i][l[i].failure == 1]
    k = 5
    while(k >= 0):
        serial_number = list(l[i - k].serial_number)
        serial_number = list(set(serial_number))
        for j in error.serial_number.values:
            serial_number.remove(j)

AttributeError: 'DataFrame' object has no attribute 'serial_number_values'

In [28]:
p = pd.read_csv('E:/data/positiveSample_Q1.csv')

In [9]:
p = p.sort_values(by = 'serial_number')
p.to_csv('E:/data/positiveSample_Q1.csv')

In [10]:
p = p.sort_values(by = 'date')

In [11]:
p.to_csv('E:/data/positiveSample_Q1_date.csv')

In [12]:
d = pd.read_csv('E:/data/data_Q2_2018/2018-04-01.csv')

In [14]:
d[d.failure == 1]

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
75537,2018-04-01,S301PRMW,ST4000DM000,4000787030016,1,115,95778448,NaN,NaN,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
l = []
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-06.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-07.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-08.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-09.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-10.csv'))
l.append(pd.read_csv('E:/data/data_Q1_2018/2018-01-11.csv'))

In [18]:
for i in l:
    print(i[i.failure == 1])
    print('**************')

date serial_number        model  capacity_bytes  failure  \
7532   2018-01-06      W3004X68  ST4000DM000   4000787030016        1
10206  2018-01-06      ZA11X9N2  ST8000DM002   8001563222016        1
10357  2018-01-06      Z300ZV9B  ST4000DM000   4000787030016        1
78363  2018-01-06      Z3025WBW  ST4000DM000   4000787030016        1

       smart_1_normalized  smart_1_raw  smart_2_normalized  smart_2_raw  \
7532                  109     23657640                 NaN          NaN
10206                  53     20740760                 NaN          NaN
10357                 118    201270208                 NaN          NaN
78363                 108    165729075                 NaN          NaN

       smart_3_normalized  ...  smart_250_normalized  smart_250_raw  \
7532                   91  ...                   NaN            NaN
10206                  94  ...                   NaN            NaN
10357                  91  ...                   NaN            NaN
78363                  92  ...                   NaN            NaN

       smart_251_normalized  smart_251_raw  smart_252_normalized  \
7532                    NaN            NaN                   NaN
10206                   NaN            NaN                   NaN
10357                   NaN            NaN                   NaN
78363                   NaN            NaN                   NaN

       smart_252_raw  smart_254_normalized  smart_254_raw  \
7532             NaN                   NaN            NaN
10206            NaN                   NaN            NaN
10357            NaN                   NaN            NaN
78363            NaN                   NaN            NaN

       smart_255_normalized  smart_255_raw
7532                    NaN            NaN
10206                   NaN            NaN
10357                   NaN            NaN
78363                   NaN            NaN

[4 rows x 105 columns]
**************
             date serial_number        model  capacity_bytes  failure  \
24121  2018-01-07      Z300GZDT  ST4000DM000   4000787030016        1
27008  2018-01-07      S300YQ4F  ST4000DM000   4000787030016        1

       smart_1_normalized  smart_1_raw  smart_2_normalized  smart_2_raw  \
24121                 118    192703744                 NaN          NaN
27008                 112     46899064                 NaN          NaN

       smart_3_normalized  ...  smart_250_normalized  smart_250_raw  \
24121                  91  ...                   NaN            NaN
27008                  97  ...                   NaN            NaN

       smart_251_normalized  smart_251_raw  smart_252_normalized  \
24121                   NaN            NaN                   NaN
27008                   NaN            NaN                   NaN

       smart_252_raw  smart_254_normalized  smart_254_raw  \
24121            NaN                   NaN            NaN
27008            NaN                   NaN            NaN

       smart_255_normalized  smart_255_raw
24121                   NaN            NaN
27008                   NaN            NaN

[2 rows x 105 columns]
**************
             date serial_number          model  capacity_bytes  failure  \
21361  2018-01-08      Z3029ATJ    ST4000DM000   4000787030016        1
27350  2018-01-08      Z305BAT9    ST4000DM000   4000787030016        1
70755  2018-01-08      ZCH0CJHM  ST12000NM0007  12000138625024        1
93886  2018-01-08      W300AS94    ST4000DM000   4000787030016        1

       smart_1_normalized  smart_1_raw  smart_2_normalized  smart_2_raw  \
21361                 111     35809064                 NaN          NaN
27350                 112     44550520                 NaN          NaN
70755                  75     28462840                 NaN          NaN
93886                 117    159595368                 NaN          NaN

       smart_3_normalized  ...  smart_250_normalized  smart_250_raw  \
21361                  94  ...                   NaN            NaN
27350                  95  ...                   NaN            NaN
70755                  90  ...                   NaN            NaN
93886                  91  ...                   NaN            NaN

       smart_251_normalized  smart_251_raw  smart_252_normalized  \
21361                   NaN            NaN                   NaN
27350                   NaN            NaN                   NaN
70755                   NaN            NaN                   NaN
93886                   NaN            NaN                   NaN

       smart_252_raw  smart_254_normalized  smart_254_raw  \
21361            NaN                   NaN            NaN
27350            NaN                   NaN            NaN
70755            NaN                   NaN            NaN
93886            NaN                   NaN            NaN

       smart_255_normalized  smart_255_raw
21361                   NaN            NaN
27350                   NaN            NaN
70755                   NaN            NaN
93886                   NaN            NaN

[4 rows x 105 columns]
**************
             date   serial_number                 model  capacity_bytes  \
30498  2018-01-09  PL1331LAHD1EDH  HGST HMS5C4040BLE640   4000787030016
82000  2018-01-09        ZA180ZZH          ST8000NM0055   8001563222016

       failure  smart_1_normalized  smart_1_raw  smart_2_normalized  \
30498        1                 100            0               134.0
82000        1                  82    170245568                 NaN

       smart_2_raw  smart_3_normalized  ...  smart_250_normalized  \
30498        101.0                 100  ...                   NaN
82000          NaN                  95  ...                   NaN

       smart_250_raw  smart_251_normalized  smart_251_raw  \
30498            NaN                   NaN            NaN
82000            NaN                   NaN            NaN

       smart_252_normalized  smart_252_raw  smart_254_normalized  \
30498                   NaN            NaN                   NaN
82000                   NaN            NaN                   NaN

       smart_254_raw  smart_255_normalized  smart_255_raw
30498            NaN                   NaN            NaN
82000            NaN                   NaN            NaN

[2 rows x 105 columns]
**************
             date serial_number         model  capacity_bytes  failure  \
14688  2018-01-10      Z300X7C3   ST4000DM000   4000787030016        1
19389  2018-01-10      ZA171T9X  ST8000NM0055   8001563222016        1
43311  2018-01-10      Z304JXAS   ST4000DM000   4000787030016        1
51789  2018-01-10      Z305NJMN   ST4000DM000   4000787030016        1
78553  2018-01-10      Z304KR0B   ST4000DM000   4000787030016        1

       smart_1_normalized  smart_1_raw  smart_2_normalized  smart_2_raw  \
14688                 119    210421064                 NaN          NaN
19389                  84    232816016                 NaN          NaN
43311                 111     29439608                 NaN          NaN
51789                 110     26805080                 NaN          NaN
78553                 108     14762144                 NaN          NaN

       smart_3_normalized  ...  smart_250_normalized  smart_250_raw  \
14688                  92  ...                   NaN            NaN
19389                  96  ...                   NaN            NaN
43311                  93  ...                   NaN            NaN
51789                  96  ...                   NaN            NaN
78553                  93  ...                   NaN            NaN

       smart_251_normalized  smart_251_raw  smart_252_normalized  \
14688                   NaN            NaN                   NaN
19389                   NaN            NaN                   NaN
43311                   NaN            NaN                   NaN
51789                   NaN            NaN                   NaN
78553                   NaN            NaN                   NaN

       smart_252_raw  smart_254_normalized  smart_254_raw  \
14688            NaN                   NaN            NaN
19389            NaN                   NaN            NaN
43311            NaN                   NaN            NaN
51789            NaN                   NaN            NaN
78553            NaN                   NaN            NaN

       smart_255_normalized  smart_255_raw
14688                   NaN            NaN
19389                   NaN            NaN
43311                   NaN            NaN
51789                   NaN            NaN
78553                   NaN            NaN

[5 rows x 105 columns]
**************
             date serial_number         model  capacity_bytes  failure  \
12879  2018-01-11      ZA180XCZ  ST8000NM0055   8001563222016        1
31519  2018-01-11      Z304J92R   ST4000DM000   4000787030016        1
37145  2018-01-11      ZA17ZPD1  ST8000NM0055   8001563222016        1
64940  2018-01-11      Z3029AL0   ST4000DM000   4000787030016        1
65263  2018-01-11      Z300GQB1   ST4000DM000   4000787030016        1
84435  2018-01-11      W3009HD0   ST4000DM000   4000787030016        1

       smart_1_normalized  smart_1_raw  smart_2_normalized  smart_2_raw  \
12879                  81    135415544                 NaN          NaN
31519                 117    153210936                 NaN          NaN
37145                  79     81518048                 NaN          NaN
64940                 120    236285200                 NaN          NaN
65263                 117    123730744                 NaN          NaN
84435                 114     60272064                 NaN          NaN

       smart_3_normalized  ...  smart_250_normalized  smart_250_raw  \
12879                  96  ...                   NaN            NaN
31519                  97  ...                   NaN            NaN
37145                  99  ...                   NaN            NaN
64940                  92  ...                   NaN            NaN
65263                  91  ...                   NaN            NaN
84435                  91  ...                   NaN            NaN

       smart_251_normalized  smart_251_raw  smart_252_normalized  \
12879                   NaN            NaN                   NaN
31519                   NaN            NaN                   NaN
37145                   NaN            NaN                   NaN
64940                   NaN            NaN                   NaN
65263                   NaN            NaN                   NaN
84435                   NaN            NaN                   NaN

       smart_252_raw  smart_254_normalized  smart_254_raw  \
12879            NaN                   NaN            NaN
31519            NaN                   NaN            NaN
37145            NaN                   NaN            NaN
64940            NaN                   NaN            NaN
65263            NaN                   NaN            NaN
84435            NaN                   NaN            NaN

       smart_255_normalized  smart_255_raw
12879                   NaN            NaN
31519                   NaN            NaN
37145                   NaN            NaN
64940                   NaN            NaN
65263                   NaN            NaN
84435                   NaN            NaN

[6 rows x 105 columns]
**************

In [20]:
l[0][l[0].failure == 1]

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
7532,2018-01-06,W3004X68,ST4000DM000,4000787030016,1,109,23657640,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10206,2018-01-06,ZA11X9N2,ST8000DM002,8001563222016,1,53,20740760,NaN,NaN,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10357,2018-01-06,Z300ZV9B,ST4000DM000,4000787030016,1,118,201270208,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78363,2018-01-06,Z3025WBW,ST4000DM000,4000787030016,1,108,165729075,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
p[p.serial_number == 'ZA11X9N2']

Empty DataFrame
Columns: [Unnamed: 0, date, serial_number, model, capacity_bytes, failure, smart_1_normalized, smart_1_raw, smart_2_normalized, smart_2_raw, smart_3_normalized, smart_3_raw, smart_4_normalized, smart_4_raw, smart_5_normalized, smart_5_raw, smart_7_normalized, smart_7_raw, smart_8_normalized, smart_8_raw, smart_9_normalized, smart_9_raw, smart_10_normalized, smart_10_raw, smart_11_normalized, smart_11_raw, smart_12_normalized, smart_12_raw, smart_13_normalized, smart_13_raw, smart_15_normalized, smart_15_raw, smart_22_normalized, smart_22_raw, smart_177_normalized, smart_177_raw, smart_179_normalized, smart_179_raw, smart_181_normalized, smart_181_raw, smart_182_normalized, smart_182_raw, smart_183_normalized, smart_183_raw, smart_184_normalized, smart_184_raw, smart_187_normalized, smart_187_raw, smart_188_normalized, smart_188_raw, smart_189_normalized, smart_189_raw, smart_190_normalized, smart_190_raw, smart_191_normalized, smart_191_raw, smart_192_normalized, smart_192_raw, smart_193_normalized, smart_193_raw, smart_194_normalized, smart_194_raw, smart_195_normalized, smart_195_raw, smart_196_normalized, smart_196_raw, smart_197_normalized, smart_197_raw, smart_198_normalized, smart_198_raw, smart_199_normalized, smart_199_raw, smart_200_normalized, smart_200_raw, smart_201_normalized, smart_201_raw, smart_220_normalized, smart_220_raw, smart_222_normalized, smart_222_raw, smart_223_normalized, smart_223_raw, smart_224_normalized, smart_224_raw, smart_225_normalized, smart_225_raw, smart_226_normalized, smart_226_raw, smart_235_normalized, smart_235_raw, smart_240_normalized, smart_240_raw, smart_241_normalized, smart_241_raw, smart_242_normalized, smart_242_raw, smart_250_normalized, smart_250_raw, smart_251_normalized, smart_251_raw, ...]
Index: []

[0 rows x 106 columns]

In [23]:
p

,Unnamed: 0,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,0,2018-01-01,W3004X68,ST4000DM000,4000787030016,0,119.0,216941544.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018-01-02,W3004X68,ST4000DM000,4000787030016,0,115.0,88620216.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2018-01-03,W3004X68,ST4000DM000,4000787030016,0,119.0,215170632.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2018-01-04,W3004X68,ST4000DM000,4000787030016,0,113.0,57393720.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2018-01-05,W3004X68,ST4000DM000,4000787030016,0,117.0,143540608.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,486,2018-03-26,W300L6LB,ST4000DM000,4000787030016,0,118.0,195213736.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,487,2018-03-27,W300L6LB,ST4000DM000,4000787030016,0,117.0,142358984.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,488,2018-03-28,W300L6LB,ST4000DM000,4000787030016,0,118.0,186818352.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,489,2018-03-29,W300L6LB,ST4000DM000,4000787030016,0,119.0,227843704.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490,490,2018-03-30,W300L6LB,ST4000DM000,4000787030016,1,111.0,40346344.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
p

,Unnamed: 0,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,0,2018-01-01,W3004X68,ST4000DM000,4000787030016,0,119.0,216941544.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018-01-02,W3004X68,ST4000DM000,4000787030016,0,115.0,88620216.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2018-01-03,W3004X68,ST4000DM000,4000787030016,0,119.0,215170632.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2018-01-04,W3004X68,ST4000DM000,4000787030016,0,113.0,57393720.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2018-01-05,W3004X68,ST4000DM000,4000787030016,0,117.0,143540608.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,486,2018-03-26,W300L6LB,ST4000DM000,4000787030016,0,118.0,195213736.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,487,2018-03-27,W300L6LB,ST4000DM000,4000787030016,0,117.0,142358984.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,488,2018-03-28,W300L6LB,ST4000DM000,4000787030016,0,118.0,186818352.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,489,2018-03-29,W300L6LB,ST4000DM000,4000787030016,0,119.0,227843704.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490,490,2018-03-30,W300L6LB,ST4000DM000,4000787030016,1,111.0,40346344.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
p

,Unnamed: 0,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,0,2018-01-01,W3004X68,ST4000DM000,4000787030016,0,119.0,216941544.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018-01-02,W3004X68,ST4000DM000,4000787030016,0,115.0,88620216.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2018-01-03,W3004X68,ST4000DM000,4000787030016,0,119.0,215170632.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2018-01-04,W3004X68,ST4000DM000,4000787030016,0,113.0,57393720.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2018-01-05,W3004X68,ST4000DM000,4000787030016,0,117.0,143540608.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,486,2018-03-26,W300L6LB,ST4000DM000,4000787030016,0,118.0,195213736.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,487,2018-03-27,W300L6LB,ST4000DM000,4000787030016,0,117.0,142358984.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,488,2018-03-28,W300L6LB,ST4000DM000,4000787030016,0,118.0,186818352.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,489,2018-03-29,W300L6LB,ST4000DM000,4000787030016,0,119.0,227843704.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490,490,2018-03-30,W300L6LB,ST4000DM000,4000787030016,1,111.0,40346344.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
l[0][l[0].failure == 1]

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
7532,2018-01-06,W3004X68,ST4000DM000,4000787030016,1,109,23657640,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10206,2018-01-06,ZA11X9N2,ST8000DM002,8001563222016,1,53,20740760,NaN,NaN,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10357,2018-01-06,Z300ZV9B,ST4000DM000,4000787030016,1,118,201270208,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78363,2018-01-06,Z3025WBW,ST4000DM000,4000787030016,1,108,165729075,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
p[p.serial_number == 'ZA11X9N2']

Empty DataFrame
Columns: [Unnamed: 0, date, serial_number, model, capacity_bytes, failure, smart_1_normalized, smart_1_raw, smart_2_normalized, smart_2_raw, smart_3_normalized, smart_3_raw, smart_4_normalized, smart_4_raw, smart_5_normalized, smart_5_raw, smart_7_normalized, smart_7_raw, smart_8_normalized, smart_8_raw, smart_9_normalized, smart_9_raw, smart_10_normalized, smart_10_raw, smart_11_normalized, smart_11_raw, smart_12_normalized, smart_12_raw, smart_13_normalized, smart_13_raw, smart_15_normalized, smart_15_raw, smart_22_normalized, smart_22_raw, smart_177_normalized, smart_177_raw, smart_179_normalized, smart_179_raw, smart_181_normalized, smart_181_raw, smart_182_normalized, smart_182_raw, smart_183_normalized, smart_183_raw, smart_184_normalized, smart_184_raw, smart_187_normalized, smart_187_raw, smart_188_normalized, smart_188_raw, smart_189_normalized, smart_189_raw, smart_190_normalized, smart_190_raw, smart_191_normalized, smart_191_raw, smart_192_normalized, smart_192_raw, smart_193_normalized, smart_193_raw, smart_194_normalized, smart_194_raw, smart_195_normalized, smart_195_raw, smart_196_normalized, smart_196_raw, smart_197_normalized, smart_197_raw, smart_198_normalized, smart_198_raw, smart_199_normalized, smart_199_raw, smart_200_normalized, smart_200_raw, smart_201_normalized, smart_201_raw, smart_220_normalized, smart_220_raw, smart_222_normalized, smart_222_raw, smart_223_normalized, smart_223_raw, smart_224_normalized, smart_224_raw, smart_225_normalized, smart_225_raw, smart_226_normalized, smart_226_raw, smart_235_normalized, smart_235_raw, smart_240_normalized, smart_240_raw, smart_241_normalized, smart_241_raw, smart_242_normalized, smart_242_raw, smart_250_normalized, smart_250_raw, smart_251_normalized, smart_251_raw, ...]
Index: []

[0 rows x 106 columns]

In [35]:
a = l[0][l[0].failure == 1]

In [36]:
a

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
7532,2018-01-06,W3004X68,ST4000DM000,4000787030016,1,109,23657640,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10206,2018-01-06,ZA11X9N2,ST8000DM002,8001563222016,1,53,20740760,NaN,NaN,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10357,2018-01-06,Z300ZV9B,ST4000DM000,4000787030016,1,118,201270208,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78363,2018-01-06,Z3025WBW,ST4000DM000,4000787030016,1,108,165729075,NaN,NaN,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
for j in a.serial_number.values:
    if j == 'Z300ZV9B':
        print(j)

Z300ZV9B

In [43]:
for j in a.serial_number.values:
    print(l[0][l[0].serial_number == j])

date serial_number        model  capacity_bytes  failure  \
7532  2018-01-06      W3004X68  ST4000DM000   4000787030016        1

      smart_1_normalized  smart_1_raw  smart_2_normalized  smart_2_raw  \
7532                 109     23657640                 NaN          NaN

      smart_3_normalized  ...  smart_250_normalized  smart_250_raw  \
7532                  91  ...                   NaN            NaN

      smart_251_normalized  smart_251_raw  smart_252_normalized  \
7532                   NaN            NaN                   NaN

      smart_252_raw  smart_254_normalized  smart_254_raw  \
7532            NaN                   NaN            NaN

      smart_255_normalized  smart_255_raw
7532                   NaN            NaN

[1 rows x 105 columns]
             date serial_number        model  capacity_bytes  failure  \
10206  2018-01-06      ZA11X9N2  ST8000DM002   8001563222016        1

       smart_1_normalized  smart_1_raw  smart_2_normalized  smart_2_raw  \
10206                  53     20740760                 NaN          NaN

       smart_3_normalized  ...  smart_250_normalized  smart_250_raw  \
10206                  94  ...                   NaN            NaN

       smart_251_normalized  smart_251_raw  smart_252_normalized  \
10206                   NaN            NaN                   NaN

       smart_252_raw  smart_254_normalized  smart_254_raw  \
10206            NaN                   NaN            NaN

       smart_255_normalized  smart_255_raw
10206                   NaN            NaN

[1 rows x 105 columns]
             date serial_number        model  capacity_bytes  failure  \
10357  2018-01-06      Z300ZV9B  ST4000DM000   4000787030016        1

       smart_1_normalized  smart_1_raw  smart_2_normalized  smart_2_raw  \
10357                 118    201270208                 NaN          NaN

       smart_3_normalized  ...  smart_250_normalized  smart_250_raw  \
10357                  91  ...                   NaN            NaN

       smart_251_normalized  smart_251_raw  smart_252_normalized  \
10357                   NaN            NaN                   NaN

       smart_252_raw  smart_254_normalized  smart_254_raw  \
10357            NaN                   NaN            NaN

       smart_255_normalized  smart_255_raw
10357                   NaN            NaN

[1 rows x 105 columns]
             date serial_number        model  capacity_bytes  failure  \
78363  2018-01-06      Z3025WBW  ST4000DM000   4000787030016        1

       smart_1_normalized  smart_1_raw  smart_2_normalized  smart_2_raw  \
78363                 108    165729075                 NaN          NaN

       smart_3_normalized  ...  smart_250_normalized  smart_250_raw  \
78363                  92  ...                   NaN            NaN

       smart_251_normalized  smart_251_raw  smart_252_normalized  \
78363                   NaN            NaN                   NaN

       smart_252_raw  smart_254_normalized  smart_254_raw  \
78363            NaN                   NaN            NaN

       smart_255_normalized  smart_255_raw
78363                   NaN            NaN

[1 rows x 105 columns]

In [ ]:
import pandas as